{% load static %}
<footer id="footer" class="py-5 border-top">
    <div class="container-lg">
      <div class="row">
        <div class="col-lg-6 pb-3">
          <div class="footer-menu">
            <h5 class="widget-title pb-2">Info</h5>
            <ul class="menu-list list-unstyled">
              <li class="pb-2">
                <a href="#">Track Your Order</a>
              </li>
              <li class="pb-2">
                <a href="#">Shipping</a>
              </li>
              <li class="pb-2">
                <a href="#">Contact Us</a>
              </li>
              <li class="pb-2">
                <a href="#">Help</a>
              </li>
              <li class="pb-2">
                <a href="#">Community</a>
              </li>
            </ul>
        </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>